@page {
    size: letter;
    margin: 1cm;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Ubuntu', serif;
}
.header table .logo {
    width: 20%;
}
.header img {
    height: 80px;
}
.header h1 {
    font-size: 24px;
}
.header {
    margin-bottom: 1em;
}
.body table {
    width: 100%;
}
.body table td {
    padding: 2px;
}
.body .odd {
    background: #ccc;
}
